<?xml version="1.0"?>
<config>

	<modules>
		<GaugeInteractive_FBPixel>
			<version>0.1.0</version>
		</GaugeInteractive_FBPixel>
	</modules>

	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<fbpixel_options>
											<title>Store Fbpixel Module Section</title>
										</fbpixel_options>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>

	<global>
		<helpers>
			<fbpixel>
				<class>GaugeInteractive_FBPixel_Helper</class>
			</fbpixel>
		</helpers>

		<blocks>
			<fbpixel>
				<class>GaugeInteractive_FBPixel_Block</class>
			</fbpixel>
		</blocks>
	</global>

	<frontend>
		<layout>
			<updates>
				<fbpixel>
					<file>gaugeinteractive_fbpixel.xml</file>
				</fbpixel>
			</updates>
		</layout>
	</frontend>

</config>
